<form action="http://localhost:8000/users/reset-password/<%= token.accessToken %>" method="post">
<input type="password" name="new_password">
<input type="password" name="confirm_new_password">
<input type="submit" value="Update Password">
</form>