

    <h1>
        Welcome to Codial's Signup page

    </h1>
    <form  action="/users/create" method="POST">
        <input  type="text" name="name" placeholder="Enter your name" required>
        <input  type="Email" name="email" placeholder="Enter your Email" required>
        <input  type="password"  name="password" placeholder="Create a Password" required>
        
        <input  type="password" name="confirm_password"  placeholder="Confirm your Password" required>
        <input type="submit" value="SignUp">
    </form>
    
