<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Codial's Sign In page</h1>
    <form action="/users/create-session" method="post">
    <input name="email" type="text" required placeholder="Tyepe in your username:">
    <input name="password" type="password" required placeholder="Type in your password">
    <input type="submit" value="Log In">
        </form>
</body>
</html>