header
{
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    height: 40px;
    
    h3{
        a{
            text-decoration: none;
            
            margin-left: 10px;
            color: white;
            
        }
    }

    ul
    {
        list-style-type: none;
        display: flex;
        color: white;
       
        flex-wrap:wrap;
        justify-content: space-between;


         a
         {
            margin-right: 10px;
            color: white;
            margin-top: -6px;
         }
         
         
    }

}